.wrapper {
  height: 2 00vh;
  background: linear-gradient(
    rgba(255, 166, 0, 0.446) 25%,
    rgba(50, 50, 132, 0.289) 50%,
    rgba(0, 0, 255, 0.05) 100%
  );
  margin: auto;
  margin-top: none;
}
